<html> <img style="float:center; margin: 0px 0px 0px 0px;" src="https://docs.google.com/uc? export=download&id=1JDfKEyqZsOrv8tZrgeIDJFQ_c_W0LF-K" width="370" align="left"/> </html> 


<center> <H1> <b>Data Analysis with Python </b><figure> </H1> </center>
<center> <H6>  </H6> </center>

# Data Reading & Writting in Pandas

In [1]:
import pandas as pd  
import numpy as np

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
path = '/content/drive/MyDrive/Formation Data Science (Esprims)/CHAPITRE 4 : Analyses de donneÃÅes avec Pandas/DataSets/'
df=pd.read_table(path +"data.txt")

In [7]:
df

  name  score sex
0  Tim     80   M
1  Tom     85   M
2  Kim     70   F
3  Sam     90   M
4  Efe     75   M

In [6]:
df2=pd.read_table(path+"data2.txt")
df2

    Tom,80,M
0   Tim,85,M
1   Kim,70,M
2  Kate,90,F
3  Alex,75,F

In [9]:
df2=pd.read_table(path + "data2.txt", sep=",")
df2

    Tom  80  M
0   Tim  85  M
1   Kim  70  M
2  Kate  90  F
3  Alex  75  F

In [12]:
df=pd.read_table(path +"data2.txt",
                 sep=",",
                 header=None)
df

      0   1  2
0   Tom  80  M
1   Tim  85  M
2   Kim  70  M
3  Kate  90  F
4  Alex  75  F

In [14]:
df=pd.read_table(path +"data2.txt",
                 sep=",",
                 header=None, 
                 names=["name","score","sex"])
df

   name  score sex
0   Tom     80   M
1   Tim     85   M
2   Kim     70   M
3  Kate     90   F
4  Alex     75   F

In [15]:
df=pd.read_table(path + "data2.txt",
                 sep=",",header=None, 
                 names=["name","score","sex"],
                 index_col="name")
df

      score sex
name
Tom      80   M
Tim      85   M
Kim      70   M
Kate     90   F
Alex     75   F

In [16]:
df2=pd.read_table(path + "data3.txt",
                  sep=",")
df2

  lesson  name  one  two
0   Math   Kim   80   85
1   Math   Tim   90   70
2   Math   Tom   70   95
3   Stat  Kate   65   90
4   Stat  Alex   85   80
5   Stat   Sam   55   70

In [17]:
df2=pd.read_table(path + "data3.txt",
                  sep=",",
                  index_col=["lesson","name"])
df2

             one  two
lesson name
Math   Kim    80   85
       Tim    90   70
       Tom    70   95
Stat   Kate   65   90
       Alex   85   80
       Sam    55   70

In [18]:
df3=pd.read_table(path + "data4.txt",sep=",")
df3

                          #hello
name                score    sex
#scores of students NaN      NaN
Tim                 80         M
Kate                85         F
Alex                70         M
Tom                 90         M
Kim                 75         F

## Writing Data

In [20]:
df=pd.read_csv(path + "data.txt",sep="\t")
df

  name  score sex
0  Tim     80   M
1  Tom     85   M
2  Kim     70   F
3  Sam     90   M
4  Efe     75   M

In [21]:
df.to_csv(path +"new_data.csv")